<div class="container1">
  <div class="column1">
      <h3>Estat de la màquina:</h3>
      <div class="NFC">
        <svg class="NFCStatusrectangle" [ngStyle]="{'fill' : isNFCConnected ? '#189120' : '#C50143'}">
          <rect/>
        </svg>
        <img src="../../../assets/images/nfc.svg" alt="NFC">
      </div>
      <div class="db">
        <svg class="DBStatusrectangle" [ngStyle]="{'fill' : isDBConnected ? '#189120' : '#C50143'}">
          <rect/>
        </svg>
        <img src="../../../assets/images/database.svg" alt="DB">

      </div>
      <div class="dbInput">
        <p>Base de Dades: </p>
        <input class="textInput" id="database" value="Tests_Joel" (change)="updateDb($event)">
      </div>
      <div class="spacer1">

      </div>
      <p>Treballant en : {{jobName}}</p>

  </div>

  <div class="column2">
    <div class="machineComments">
      <h2>{{status}}</h2>
    </div>
    <div class="errorBTNS">
      <button type="button" name="button" (click)="rejectTag()" [ngStyle]="{'display' : isThereAnError ? 'inline-block' : 'none'}">Reject Tag and continue</button>
      <!--button type="button" name="button" (click)="acceptTag()" [ngStyle]="{'display' : isThereAnError ? 'inline-block' : 'none'}">Save Tag and continue</button-->
    </div>
    <h2 class="porces">Procés: {{qtyDone}} / {{processSize}}</h2>
    <p>{{msgTimeToProcessATag}}</p>
    <div class="spacer2">
    </div>
    <div class="lastline">
      <div class="spacer3"></div>
    <button class="addJobBTN" (click)="goToCreateNewJob()">Afegir una tasca</button>
    </div>
  </div>
</div>
