<div class="container1">
    <h3>Ùltima feina feta:</h3>
    <div class="statsList">
      <svg class="whiteLineForJobStatList">
        <rect/>
      </svg>
      <ul class="list">
        <li>Nom : {{name}}</li>
        <li>Ref : {{ref}}</li>
        <li>URL : {{url}}</li>
        <li>Quantitat : {{qty}}</li>
        <li>QT Fetes : {{qtyDone}}</li>
        <li>Romejades : {{rom}}</li>
        <li>Estat : {{status}}</li>
        <li>Modificat el : {{modified_at}}</li>
      </ul>
    </div>
</div>
