/* You can add global styles to this file, and also import other style files */

@import "../src/assets/fonts/Inter/inter.css";
@import "../src/assets/fonts/metropolis/Metropolis.css";

*{
  margin: 0;
  color: white;
  font-family: Metropolis;
  font-weight: lighter;
}
